.groupsList ul li.selected {
    background-color: #2F2F2F2B; 
    border-radius: 10px;
  }
  .groupsList ul li {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }    
.groupsList ul{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    padding-bottom: 5px;
    padding-left: 0px;
}
#notesList{
    padding: 15px;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 20px;
    font-weight: 600;
}

.roundDiv{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
}

.justifyCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 880px) {
    .groupsList ul{
        padding-left: 10%;
        margin-top: 3%;
    }
}

@media only screen and (max-width: 450px) {
    .groupsList ul{
        padding-top: 10%;
    }
}
