.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.leftPanel {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.leftTitle {
  position: fixed; 
  top: 0;
  left: 0;
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  z-index: 1;
  padding-bottom: 0px;
  background: #FFFFFF;
}

.bottomCreate {
  position: fixed;
  left: 20%;
  bottom: 10%;
}

.groupsList{
  overflow-y: auto;
}
.addButton {
  background-color: #16008B;
  color: #FFFFFF;
  border-radius: 50%;
  height: 53px;
  width: 53px;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notesPanel{
  background-color: rgba(218, 229, 245, 1);
  width: 75%; /* Remaining width */
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.homeBG {
  background-color: rgba(218, 229, 245, 1);
  width: 75%; /* Remaining width */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.themePic {
  width: 37rem;
  height: 19rem;
}

.privacyNote {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3px;
  color: rgba(41, 41, 41, 1);
  font-size: 1rem;
}

.privacyNote img {
  width: 13px;
  height: 17px;
}

#appTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.125rem;
  font-weight: 900;
  letter-spacing: 1px;
}

#desc {
  color: rgba(41, 41, 41, 1);
}

@media only screen and (max-width: 880px) {
  /* Adjust styles for smaller screens */
  .App{
    display: flex;
    flex-direction: column;
  }
  .leftPanel.hidden {
    display: none;
  }

  .leftPanel {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 8%;
  }
   .leftPanel .leftTitle{
    transform: translateX(-15%);
    width: 100%;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .bottomCreate {
    position: absolute; 
    bottom: 10%; 
    left: 80%;
    justify-content: end;
  }

  .addButton {
    position: relative; 
    transform: translateX(-50%); 
  }
  .homeBG{
    display: none;
  }
  .notesPanel
  {
    width: 100%; 
  }

}

@media only screen and (max-width: 540px){
  .bottomCreate{
    bottom: 10%;
  }
}